@inherits LayoutComponentBase
@using UtilityBlazorApp.Pages

<div>
    <main>
        <EventBar/>       
        <NavBar/>
 
        <article>
            @Body
        </article>
    </main>
</div>
